main {
    margin-top: var(--padding);
    padding: 0 calc(var(--padding)) calc(var(--padding) * 3) calc(var(--padding));

    background-color: var(--canvas-background);
    border: 2pt solid var(--border-color);
    border-radius: var(--border-radius);

    overflow-y: hidden;
}

main img {
    margin-top: 2pt;
    width: calc(var(--about-img-mul) * 240px);

    border: 2pt solid var(--border-color);
    border-radius: var(--border-radius);
}

#profile { --about-img-mul: 0.6; }

img.left { float: left; margin-right: calc(var(--padding)); }
img.right { float: right; margin-left: calc(var(--padding)); }

#contact { --about-img-mul: 0.4; }

main h1 { font: bold var(--about-h2-font-size) var(--about-h2-font-face); text-align: center; }
main h2 { margin: 1.3em 0 -0.5em 0; padding: 0; font: bold calc(var(--about-font-size) + 12%) var(--body-font-face); }
main p { font: normal var(--about-font-size) var(--body-font-face); text-align: justify; }

main a { font-weight: bold; font-size: calc(var(--about-a-size) * 0.9); }
main a::before { content: '['; }
main a::after { content: ']'; }
main a:link { color: var(--about-a-link); text-decoration: none; }
main a:hover { color: var(--about-a-hover); text-decoration: underline; }
main a:visited { color: var(--about-a-visited); text-decoration: overline; }
main a:active { color: var(--about-a-active); }

@media (min-width: 680px) {
    :root { --about-img-mul: 0.52; }
    #profile { --about-img-mul: 0.696; }
}