/*  contact.css
    contact.html sivukohtaiset muotoilut
*/

/* Sivuotsikon muotoilu */
main h2 { margin: 1em 0; padding: 0; font: bold calc(var(--font-size) + 12%) var(--font-face); text-align: center; }

/*  Yhteydenotto:
    -info: QR-koodi ja vCard
    -form*: lomake
*/
#contact { display: flex; flex-wrap: wrap; }
#contact-info, #contact-form-container { flex: 1 0 auto; }
#contact-form-container { padding: 0 calc(var(--padding) * 2) 0 var(--padding); margin: 0 auto; }
#contact-info div { text-align: center; }
#contact-info div img {
    margin-top: calc(var(--padding) * 2.3);
    max-width: 256px;
    width: 60%;

    border: 2pt solid var(--border-color);
    border-radius: var(--border-radius);
}

/* Lomake */
#contact-info a { font-weight: bold; font-size: calc(var(--a-size) * 0.9); }
#contact-info a::before { content: '['; }
#contact-info a::after { content: ']'; }
#contact-info a:link { color: var(--a-link); }
#contact-info a:hover { color: var(--a-hover); text-decoration: underline; }
#contact-info a:visited { color: var(--a-visited); text-decoration: overline; }
#contact-info a:active { color: var(--a-active); }

#contact-form-container { min-width: 50%; }

form {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;

    width: 100%;
}

main form div { flex: 1 0 auto; margin: 0 var(--padding); }

label, input, textarea, button { display: block; }
label, button { font: normal var(--font-size) var(--font-face); }
input, textarea { font: normal calc(var(--font-size) * 0.8) var(--font-face); }

label { margin: 0 0 -0.05em 0; }
button { width: 100%; }
textarea { resize: none; }
input, textarea { margin: 0 0 0.3em 0; width: calc(100% - var(--padding)); }
input, textarea, button { border: 2pt solid var(--border-color); border-radius: calc(var(--border-radius) * 0.65) ; }