/*  cv.css
    cv.html sivukohtaiset muotoilut
*/

/* Työhistoria */

/* article: pääkontti */
article {
    display: flex;
    flex-direction: row;

    margin-bottom: 0.5em;
    padding: var(--padding);
    background-color: var(--cv-article-background);

    border: 2pt solid var(--border-color);
    border-radius: var(--cv-article-border-radius);
}

/* article div: flex-kontti työpaikan yksityiskohdille */
article div { display: flex; flex-direction: column; }

article { font: normal var(--font-size) var(--font-face); }

/* Yrityslogot */
article figure {
    flex: 0 0 auto;
    align-self: center;

    margin: 0 var(--padding) 0 0;
    padding: 0;
}
article figure img {
    background-color: #fff;
    max-width: 72px;

    border: 2pt solid var(--border-color);
    border-radius: 50%;
    box-sizing: border-box;
}

main article h2 { margin: 0 0 0.08em 0; font: bold calc(var(--h2-font-size) * 0.75) var(--h2-font-face); }

/* Työpaikkojen yksityiskohdat */
article div p { margin: 0; text-decoration: none; }
article div p.employer { font-weight: bold; font-size: var(--section-p-font-size); }
article div p.duration { font-size: var(--section-p-font-size); }
article div p.location { font-size: var(--section-p-font-size); margin-bottom: 0.5em; }
article div p.dutylist { font-size: calc(var(--font-size) * 0.9); }

/* Otsikot */
main > h2 { font: bold var(--h2-font-size) var(--h2-font-face); }
main > h3 { margin-bottom: 2pt; font: bold calc(var(--font-size) * 0.85) var(--h2-font-face); letter-spacing: 0.03em;}
main > h3::before { content: '[ '; }
main > h3::after { content: ' ]:'; }
main > p { margin: 0 0 0.5em 0; padding: 0;font: normal var(--font-size) var(--font-face); }

/* Profiilikuva */
main > img {
    float: right;
    margin-left: calc(var(--padding) * 2);
    margin-right: calc(var(--padding) * 2.5);

    max-height: 250px;

    border: 2pt solid var(--border-color);
    border-radius: var(--border-radius);
}

/* Kuvakoon säätö vähän pienemmille ruuduille */
@media (max-width: 544px) {

    main > img {
        max-height: calc(250px * 0.8);
    }
}

/* Kuvakoon säätö vielä pienemmille ruuduille */
@media (max-width: 490px) {

    main > img {
        max-height: calc(250px * 0.6);
    }
}

/* Pienet ruudut: piilotetaan profiilikuva */
@media (max-width: 400px) {

    main > img {
        display: none;
    }
}