html, body {
    margin: 0;
    background-color: var(--main-background);
}

#page-title {
    font: normal calc(var(--page-title-font-size)) 'Anton';
    line-height: var(--page-title-height);

    min-height: var(--page-title-height);

    background-color: var(--canvas-background);

    border: 2pt solid var(--border-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    text-align: center;
    letter-spacing: 1pt;

    overflow: hidden;
}

#page-title div {
    float: top;
    height: 1em;
    font: bold 10pt var(--body-font-face);
    line-height: 3.8em;
    letter-spacing: 0;
}