/*  default.css
    Yleiset muotoilut
*/

html, body {
    margin: 0;
    background-color: var(--main-background);
}

/* Näyttö-div:in muotoilu */
#main-display {
    min-width: 300px;
    max-width: 680px;
    overflow: hidden;
    margin: auto;
}

/* Pääotsikko */ 
#page-title {
    font: var(--page-title-font-size) 'Anton';
    line-height: var(--page-title-height);

    min-height: var(--page-title-height);

    background-color: var(--canvas-background);

    border: 2pt solid var(--border-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    text-align: center;
    letter-spacing: 1pt;

    overflow: hidden;
}

#page-title h1 {
    margin: 0;
    height: 1em;
    font: bold 12pt var(--font-face);
    line-height: 3.4em;
    letter-spacing: 1px;
}

#page-title h2 { font-size: inherit; margin: 0; }
#page-title h2::before { content: '[ '; }
#page-title h2::after { content: ' ]'; }

/* Sosiaalisen median muotoilut */
#social-media {
    padding: calc(var(--padding));
    text-align: right;
}

#social-media img {
    max-width: 24px;
    border: 2pt solid var(--border-color);
    border-radius: 5px;

    background-color: #fff;
}

/* Yleiset leipätekstialueen ja tekstin muotoilut */
main {
    margin-top: var(--padding);
    padding: 0 calc(var(--padding)) calc(var(--padding) * 3) calc(var(--padding));

    background-color: var(--canvas-background);
    border: 2pt solid var(--border-color);
    border-radius: var(--border-radius);

    overflow-y: hidden;
}

main h1 { font: normal var(--h1-font-size) var(--h1-font-face); text-align: center; }