main {
    margin: var(--main-margin);

    background-color: var(--main-background);
    color: var(--main-color);

    border: var(--main-border);
    border-radius: var(--main-border-radius);
}

main h2 {
    padding: var(--section-topic-padding);
    font: var(--section-topic-font);
}

main p {
    margin: var(--section-p-margin);
    padding: var(--section-p-padding);
    font: var(--section-p-font);
}

main p.left { padding-right: calc(100% / 6); text-align: left; }
main p.right { padding-left: calc(100% / 6); text-align: right; }

main p img.left, main p img.right {
    width: var(--section-p-img-width);
    height: var(--section-p-img-height);

    border: var(--section-p-img-border);
    border-radius: var(--section-p-img-border-radius);
}

main p:last-of-type img {
    width: 60px;
    height: calc(60px * (320/240));
}

main p img.left { margin: var(--section-p-left-img-margin); float: left; }
main p img.right { margin: var(--section-p-right-img-margin); float: right; }

main p a:link { font: var(--section-p-a-link); color: var(--section-p-a-link-color); }
main p a:visited { font: var(--section-p-a-visited); color: var(--section-p-a-visited-color); }
main p a:hover { font: var(--section-p-a-hover); color: var(--section-p-a-hover-color); }
main p a:active { font: var(--section-p-a-active); color: var(--section-p-a-active-color); }
