@media (max-width: 544px) { /* 665 */

    #nav-hmenu { display: none; }

    #nav-hamburger-container, #nav-hamburger, #nav-dropdown { box-sizing: border-box; }
    #nav-hamburger-container { position: relative; }
    #nav-hamburger.active { background-color: var(--nav-active-background); }

    #nav-hamburger {
        position: relative;

        display: flex;
        flex-direction: column;

        cursor: pointer;

        width: 100%;
        height: var(--nav-dropdown-height);

        font-size: var(--nav-hamburger-font-size);
        line-height: calc(var(--nav-dropdown-height));
        text-align: center;

        background-color: var(--canvas-background);

        border: 2pt solid var(--border-color);
        border-bottom: 0;

        z-index: 10;
    }

    #nav-dropdown a { text-decoration: none; color: inherit; display: block; }
    #nav-dropdown.active { display: block; }
    #nav-dropdown {
        position: absolute;
        top: 100%;
        left: 0;

        display: none;

        width: 100%;

        z-index: 10;
    }

    #nav-dropdown ul {
        margin: 0; padding: 0;
        list-style: none;

        background-color: var(--nav-active-background);

        border: 2pt solid var(--border-color);
        border-top: 0;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    #nav-dropdown li {
        font: bold var(--nav-font-size) var(--body-font-face);
        line-height: var(--nav-dropdown-height);

        height: calc(var(--nav-dropdown-height));

        text-align: center;
        color: #000;

        border-top: 2pt solid var(--border-color);
    }

    #overlay.active { display: block; }
    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: #0008;

        z-index: 9;
    }
}

#nav-dropdown #vmenu-active, #nav-hmenu #hmenu-active { background-color: var(--nav-active); }
#nav-dropdown li:hover, #nav-hmenu li:hover { background-color: var(--nav-horver); }


@media (min-width: 545px) { /* 666 */

    #nav-hamburger-container { display: none; }

    #nav-hmenu { margin-top: var(--padding); width: 100%; }
    #nav-hmenu a { text-decoration: none; color: inherit; display: block; }

    #nav-hmenu ul {
        margin: 0; padding: 0;
        list-style: none;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:  space-between;
        gap: calc(var(--padding));
    }

    #nav-hmenu ul li {
        flex-grow: 1;

        padding: 0 1em;

        min-height: var(--nav-hmenu-height);
        background-color: var(--canvas-background);
        color: #000;

        border: 2pt solid var(--border-color);
        border-radius: var(--border-radius);

        font: normal var(--nav-hmenu-font-size) var(--body-font-face);
        line-height: var(--nav-hmenu-height);

        text-align: center;
    }

}