#nav-hamburger-container, #nav-hamburger, #nav-dropdown { box-sizing: border-box; }

#nav-hamburger-container { position: relative; }

#nav-hamburger {
    display: flex;
    flex-direction: column;

    cursor: pointer;
    
    width: 100%;
    height: var(--nav-dropdown-height);

    font-size: calc(var(--nav-hamburger-font-size));
    line-height: calc(var(--nav-dropdown-height));
    text-align: center;

    background-color: var(--canvas-background);

    border: 2pt solid var(--border-color);
    border-bottom: 0;

    z-index: 10;
}

#nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;

    width: 100%;
}
#nav-dropdown a { text-decoration: none; }

#nav-dropdown ul {
    margin: 0; padding: 0;
    list-style: none;

    background-color: var(--canvas-background);

    border: 2pt solid var(--border-color);
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#nav-dropdown li {
    font: normal calc(var(--nav-font-size)) var(--body-font-face);
    line-height: var(--nav-dropdown-height);

    height: calc(var(--nav-dropdown-height));

    text-align: center;
    color: #000;

    border-top: 2pt solid var(--border-color);
}

#nav-dropdown.active { display: block; }