:root {
    --main-background: #bfb78c;
    --canvas-background: #dfdabe;
    --border-color: #09170b;

    --font-face: 'Roboto';
    --font-size: 14pt;

    --border-radius: 5px;

    --nav-hamburger-font-size: 42pt;
    --nav-font-size: 16pt;
    --nav-active-background: #f3eaba;

    --nav-dropdown-height: 64pt;
    --nav-horver: #d3b065;
    --nav-active: #b19c58;

    --nav-hmenu-height: 48pt;
    --nav-hmenu-font-size: 18pt;

    --page-title-font-size: 24pt;
    --page-title-height: 64pt;

    --padding: 0.5em;
    --about-img-mul: 0.4;

    --h1-font-size: calc(var(--font-size) + 25%);
    --h1-font-face: 'Merriweather';
    --h2-font-size: calc(var(--font-size) + 25%);
    --h2-font-face: 'Merriweather';
    --h3-font-size: calc(var(--font-size) + 10%);
    --h3-font-face: 'Roboto';

    --a-size: calc(var(--font-size) * 1.1);
    --a-link: #96822c;
    --a-hover: #a59b3f;
    --a-visited: #09170b;
    --a-active: #dacd61;

    --cv-article-background: #f3edc8;
    --cv-article-border-radius: 10px;

    --section-font-size: calc(var(var(--font-size) * 0.75));
}