:root {
    --main-background: #bfb78c;
    --canvas-background: #dfdabe;
    --border-color: #09170b;

    --body-font-face: 'Roboto';

    --nav-hamburger-font-size: 42pt;
    --nav-font-size: 16pt;
    --page-title-font-size: 24pt;

    --border-radius: 5px;

    --nav-dropdown-height: 64pt;
    --page-title-height: 64pt;
}