html, body {
    margin: auto;
    background-color: #bfb78c;
}

header {
    background-color: #dfdabe;

    border: solid 2pt #09170b;
    border-radius: 1.5em;
}

header > h1 {
    font: 28pt'Anton';
    color: #09170b;

    text-align: center;
}

main {
    background-color: #dfdabe;
    
    border: solid 2pt #09170b;
    border-radius: 1.5em;

    padding: 1em;
    text-align: justify;
}

main > img#logo {
    float: left;

    width: 64px;
    height: 64px;

    margin-right: 1em;
    margin-top: 0.5em;
}

main > h2 {
    font: bold 18pt 'Merriweather';
    margin: 1em 0 1.5em 0;
    color: #09170b;
}

main > img#profile {
    float: right;

    width: 120px;
    height: 160px;

    border: solid 3pt #09170b;

    margin-left: 1em;
}

main > p {
    font: 12pt 'Roboto';
    color: #000;
}

main > p > a {
    font-weight: bold;
    font-size: 1.1em;
}